* {
  margin: 0;
  padding: 0;
  font-family: "roboto", helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-header,
nav,
footer {
  background-color: rgb(31, 41, 55);
  color: #ffffff;
}

.header-logo {
  font-size: 20px;
  display: flex;
  color: #ffffff;
}

nav {
  display: flex;
}
